body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

#tetris {
  border: 1px solid #000;
}

#rotate,
#left,
#down,
#right,
#drop {
  display: none;
}

@media (max-width: 768px) {
  #rotate,
  #left,
  #down,
  #right,
  #drop {
    display: inline;
  }
}
