body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

#tetris {
  border: 1px solid #000;
}

#rotate,
#left,
#down,
#right,
#drop {
  display: none;
}

@media (max-width: 768px) {
  #rotate,
  #left,
  #down,
  #right,
  #drop {
    display: inline;
    height: 5vh;
  }

  #keypad {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
  }

  #arrow-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
